body{
    background-color: black;
    color: rgb(68, 0, 255);
    font-family: ;
}
    section{
        background-color: rgb(152, 160, 238);
        padding-top: 80px;
        padding-bottom: 80px;
        display: flex;
        justify-content: center;
    }


        .chamada-texto{
            margin-right: 40px;
        }
        .categoria-videos{
            display: flex;
            overflow-x: auto;
            gap: 10px;
        }
    

